@import '../../assets/styles/vars.scss';

.portfolio__container {
  display: flex;
  gap: 30px;
}

.portfolio__item {
  background-color: transparent;
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid $primary-color-variant;
  transition: $transition;

  & h3 {
    margin: 1.2rem 0 2rem;
  }
}

.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio__btns {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.portfolio__btn {
  position: relative;
  width: 155px;
  height: 50px;

  &::before, &::after {
    content: '';
    position: absolute;
    transform: translateX(-50%);
    height: 10px;
    width: 30px;
    background-color: #f00;
    border-radius: 10px;
    transition: $transition;
  }

  &::before {
    left: 50%;
    bottom: -5px;
  }

  &::after {
    left: 50%;
    top: -5px;
  }

  &:nth-child(1)::before, &:nth-child(1)::after {
    background-color: #d400d4;
    box-shadow: 0 0 5px #d400d4, 0 0 15px #d400d4, 0 0 30px #d400d4, 0 0 60px #d400d4;
  }

  &:nth-child(2)::before, &:nth-child(2)::after {
    background-color: #005eff;
    box-shadow: 0 0 5px #005eff, 0 0 15px #005eff, 0 0 30px #005eff, 0 0 60px #005eff;
  }

  & a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, .2);
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    border-radius: 30px;
    color: $white;
    z-index: 1;
    letter-spacing: 1px;
    overflow: hidden;
    transition: $transition;
    backdrop-filter: blur(15px);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: linear-gradient(to left, rgba(255, 255, 255, .15), transparent);
      transform: skewX(45deg) translateX(0);
      transition: $transition;
    }
  }

  &:hover {
    & a {
      letter-spacing: 3px;

      &::before {
        transform: skewX(45deg) translateX(200%);
      }
    }

    &::before, &::after {
      height: 50%;
      width: 80%;
      border-radius: 30px;
      transition-delay: .4s;
    }

    &::before {
      bottom: 0;
    }

    &::after {
      top: 0;
    }
  }
}

// Responsive

// 1500px 

@media screen and (max-width: 1500px) {
  .portfolio__container {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .portfolio__item {
    width: 45%;
  }
}

@media screen and (max-width: 800px) {
  .portfolio__container {
    justify-content: center;
  }

  .portfolio__item {
    width: 100%;
  }
}

// Tablets

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

// Mobile

@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}