@import '../../assets/styles/vars.scss';

.contact__container {
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact__option {
  background-color: $bg-color-variant;
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: $transition;

  &:hover {
    background-color: transparent;
    border-color: $bg-color-variant;
  }
}

.contact__option_icon {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.contact__option_link {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: .8rem;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

// .contact__label {
//   margin-bottom: 10px;

//   &.error {
//     color: #fa1616;
//   }
// }

.contact__wrapper {
  position: relative;
  width: 100%;
  font-family: 'Poppins', sans-serif;

  & .contact__input.active ~ .contact__label, .contact__input:focus ~ .contact__label {
    color: #00dfc4;
    transform: translate(10px, -7px);
    font-size: 0.65em;
    padding: 0 10px;
    background-color: $bg-color;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
  }

  & .contact__input.active ~ .contact__label.error, .contact__input:focus ~ .contact__label.error {
    color: #fa1616;
  }
}

.contact__label.error {
  color: #fa1616;
}

.contact__input {
  font-family: inherit;
  width: 100%;
  padding: 22px;
  border: 1px solid $primary-color-variant;
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  color: $white;
  resize: none;
  font-size: 1em;

  &:focus {
    border-color: transparent;
    outline: 1px solid $primary-color;
  }

  &:-webkit-autofill {
    transition: background-color 9999s ease-in-out 0s;
    -webkit-text-fill-color: $white!important;
  }
}

.contact__label {
  position: absolute;
  left: 10px;
  padding: 22px;
  pointer-events: none;
  font-size: 1em;
  transition: $transition;
}


// .contact__input {
//   font-family: 'Poppins', sans-serif;
//   width: 100%;
//   padding: 1.5rem;
//   border-radius: .5rem;
//   background-color: transparent;
//   border: 2px solid $primary-color-variant;
//   resize: none;
//   color: $white;

//   &::placeholder {
//     font-family: 'Poppins', sans-serif;
//   }

//   &:focus {
//     outline: 2px solid $primary-color;
//     border-color: transparent;
//   }

//   &:-webkit-autofill {
//     transition: background-color 9999s ease-in-out 0s;
//     -webkit-text-fill-color: $white!important;
//   }
// }

// Responsive

// 1400px

@media screen and (max-width: 1400px) {
  .contact__container {
    grid-template-columns: 39% 58%;
  }
}

// Tablets

@media screen and (max-width: 1024px) {
  .contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

// Mobile

@media screen and (max-width: 600px) {
  .contact__container {
    width: $container-width-sm;
  }

}