@import '../../assets/styles/vars.scss';

.experience__container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.experience__wrapper {
  background-color: $bg-color-variant;
  padding: 38px 80px;
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  max-width: 580px;
  width: 100%;

  & h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: $primary-color;
    z-index: 3;
  }

  &::before {
    content: '';
    position: absolute;
    top: -27%;
    width: 50%;
    height: 170%;
    background: linear-gradient(#005eff, #d400d4);
    animation: borderAnimate 4s linear infinite;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 4px;
    background-color: $bg-color-variant;
  }
}

@keyframes borderAnimate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(350deg);
  }
}

.experience__details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  width: 100%;
  z-index: 3;
}

.experience__details_icon {
  color: $primary-color;
}

// Responsive

// 1300px

@media screen and (max-width: 1400px) {
  .experience__wrapper {
    padding: 2.4rem 2rem;
  }

  .experience__container {
    width: 80%;
  }
}

// Tablets

@media screen and (max-width: 993px) {
  .experience__container {
    flex-wrap: wrap;
  }

  .experience__wrapper {
    height: 450px;
    width: 70%;
  }
}

// Mobile

@media screen and (max-width: 600px) {
  .experience__container {
    gap: 1rem;
  }

  .experience__wrapper {
    width: 100%;
    padding: 2rem 1rem;
  }
}